.formulario {
    gap: 20px;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.form__input {
    background-color: white;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    padding: 5px 0px 10px 0px;
    transition: .3s ease all;
}

.form__input:focus {
    border: 3px solid #FCB97D;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__ipnut-error {
    font-size: 12px;
    margin-bottom: 0%;
    display: none;
}

.formulario__ipnut-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 11px;
    font-size: 15px;
    opacity: 0;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    border-radius: 3px;
    margin-bottom: 10px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.error_icon {
    padding-left: 10px;
}

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: red;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: red;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__grupo-input {
    border: 3px solid;
    color: red;
}