#notificacion {
    z-index: 1;
    display: none;
    position: absolute;
    width: 300px;
    height: 100%;
    top: 0;
    right: -300px;
    background-color: #58372f;
    transition: all 0.1s ease-in-out;
}

#notificacion.desplazar {
    right: 0;
}